.section-benefits {
    line-height: 1.7;
    padding: 94px 0;
}

.section-benefits__title--visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.benefits-list__item {
    width: 270px;

    &:not(:first-child) {
        margin-left: 30px;
    }
}

.benefits-list__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: $primary-bg-color;
}

.benefits-list__title {
    color: $secondary-text-color;
    font-weight: 700;
    font-size: inherit;
    margin-bottom: 10px;
}