.section-benefits {
    line-height: 1.7;
    padding: 60px 0;
}

.section-benefits__title--visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    list-style: none;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.benefits-list__item {
    @media screen and (min-width: 768px) and (max-width: 1599px) {
        flex-basis: calc((100% - 4 * 15px) / 2);
        width: 354px;
        margin: 15px;
    }
    
    color: $primary-text-color;

    @media screen and (min-width: 1600px) {
        width: 270px;
        &:not(:last-child) {
              margin-left: 30px;
            }
    }
}

.benefits-list__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: $primary-bg-color;
}

.benefits-list__title {
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.1;
}