.page-footer {
    background-color: $additional-bg-color;
    padding: 60px 0;
}

@media screen and (min-width: 768px) {
    .page-footer__container {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
        }

    .footer-subscribe {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-links {
          margin-left: 165px;
    }

    .footer-wrap {
        margin-left: 75px;
    }
}

@media screen and (max-width: 1599px) {
    
    .footer-links {
        text-align: center;
    }
}

@media screen and (min-width: 1600px){
    .footer-links {
        margin-left: 70px;
    }
}

.footer-wrap__logo {
    color: $primary-white-color;
    padding: 0;
    margin-bottom: 20px;

    @media screen and (max-width:1599px) {
        text-align: center;
    }
}

.footer-wrap__address {
    font-style: normal;
}

.address-list {
    list-style: none;
    
    @media screen and (max-width: 1599px){
        margin-bottom: 60px;
        text-align: center;
    }
   
}

.address-list__item:not(:last-child) {
    margin-bottom: 8px;
}

.address-list__link {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--white {
        color: $primary-white-color;
    }

    &:hover,
    &:focus {
        color: $accent-link-color;
    }
}

.footer-links__title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.1;
    color: $primary-white-color;
    margin-bottom: 20px;
}

.social-links__link--footer {
    background-color: rgba(255, 255, 255, 0.1);
    color: $primary-white-color;
}
.footer-subscribe {
    @media screen and (min-width: 1600px) {
        margin-right: 0;
    }
}

.footer-subscribe__container {
    @media screen and (min-width:1600px) {
        display: flex;
    }
}
.footer-subscribe__title {
    margin-bottom: 20px;
    margin-top: 60px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    color: $primary-white-color;

    @media screen and (max-width: 1599px){
        text-align: center;
    }
}
.subscribe-form {
    text-align: center;

    @media screen and (min-width: 1600px) {
        display: flex;
    }
}
.subscribe-form__input {
    height: 50px;
    padding-left: 15px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: $primary-white-color;

    @media screen and (min-width: 768px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 358px;
    }
}

.subscribe-form__button {
    display: flex;
    align-items: center;
    margin: 20px auto 0 auto;

    @media screen and (min-width:1600px) {
        margin: 0 0 0 12px;
    }
}

.button__img {
    margin-left: 10px;
    fill: $primary-white-color;
}
