.backdrop {
    position: fixed;
    left: 0px;
    top: 0px;

    min-width: 100%;
    min-height: 100%;

    background: rgba(0, 0, 0, 0.2);

    transform: scale(1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    z-index: 99;

    &--is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: scale(0.2);
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;

    background-color: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
}

.button-close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
}

.button-close__icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .button-close:hover & {
        fill: $accent-link-color;
    }
}

.modal__title {
    margin-bottom: 30px;

    // width: 370px;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: $secondary-text-color;
    
    @media screen and (min-width: 480px){
        width: 370px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 448px;
        line-height: 1.1;
    }
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-form__field {
    position: relative;
    color: $secondary-text-color;

    &:not(:first-child) {
        margin-top: 28px;
    }
}

.modal-form__input {
    padding: 0 0 0 42px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 480px) {
        width: 370px;
    }

    @media screen and (min-width: 1200px) {
        width: 448px;
    }
}

.modal-form__label {
    position: absolute;
    top: -18px;
    left: 0;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    color: $secondary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__field:focus-within & {
        color: $accent-link-color;
    }
}

.modal-form__img {
    fill: currentColor;
}

.modal-form__comment {
    padding: 12px 16px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 480px){
        width: 370px;
    }

    @media screen and (min-width: 1200px) {
        width: 448px;
    }
}

::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.privacy-checkbox {
    position: relative;
    display: flex;
    align-items:center;
    margin-top: 20px;
}

.privacy-checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.privacy-checkbox__icon {
    fill: currentColor;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: $primary-white-color;
    border: 1px solid $secondary-text-color;
    border-radius: 2px;

    .privacy-checkbox__input:checked~& {
        background-color: $accent-link-color;
        color: $primary-white-color;
        border-color: $accent-link-color;
    }
}

.privacy-checkbox__label {
    margin-left: 8px;
    font-size: 12px;

    @media screen and (min-width: 1200px) {
            font-size: 14px;
        }
}

.privacy-checkbox__link {
    color: $accent-link-color;
}

.privacy-checkbox__img {
    fill: currentColor;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    .privacy-checkbox__input:checked+& {
        opacity: 1;
        fill: $primary-white-color;
    }
}

.privacy-checkbox__button {
    margin-top: 30px;
}