.projects-list {
    list-style: none;
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * $projects-card-gap);
        margin-top: calc(-1 * $projects-card-gap);
    }
}

.projects-list__item {
    margin: 30px auto;
    
    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - $projects-card-gap);
        margin-left: $projects-card-gap;
        margin-top: $projects-card-gap;
    }
    
    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 3 - $projects-card-gap);
        margin-left: $projects-card-gap;
        margin-top: $projects-card-gap;
    }
}

.projects-list__link {
    text-decoration: none;
    display: block;
    color: $primary-text-color;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.projects-list__thumb {
    position: relative;
    overflow: hidden;
}

.projects-list__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .projects-list__link:hover &,
    .projects-list__link:focus & {
        transform: translateY(-100%);
        opacity: 0.9;
    }
}

.projects-list__desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: $primary-white-color;

    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .projects-list__link:hover &,
    .projects-list__link:focus & {
        opacity: 1;
    }

    // @media screen and (min-width: 768px) {
    //     width: 354px;
    // }

    // @media screen and (min-width: 1200px) {
    //     width: 370px;
    // }
}

.projects-list__content {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
    background-color: $primary-white-color;
}

.projects-list__title {
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects-list__name {
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.9;
}