.section-staff {
    background-color: $primary-bg-color;
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

.section-staff__title {
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        margin-bottom: 50px;
    }
}

.staff-list {
    list-style: none;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.staff-list__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
        &:not(:first-child) {
                margin-top: 30px;
            }
    }
    
    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-basis: calc((100% - 4 * 15px) / 2);
        margin: 15px;
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
       
        &:not(:first-child) {
                margin-left: 30px;
            }
    }
}

.staff-list__wrap {
    padding: 30px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 0px 4px 4px;
}

.staff-list__title {
    color: $secondary-text-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 10px;
}

.staff-list__desc {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 16px;
}