$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-link-color: #2196F3;
$primary-white-color: #ffffff;
$additional-bg-color: #2F303A;
$primary-bg-color: #F5F4FA;
$secondary-bg-color: #F5F5F5;

$projects-card-gap: 30px;
